# Secrets 
bootstrap/.argocd-credentials
bootstrap/.argocd-ip

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars     

*.values.yaml

# Kubeconfig locaux
*.kubeconfig
kubeconfig-*
