# Secrets runtime (générés par bootstrap.sh)
bootstrap/.argocd-credentials
bootstrap/.argocd-ip

# Terraform state local
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Fichier Cortex client (distribution.id + dockerPullSecret)
# Passé via : make up CORTEX_YAML=./client.values.yaml
*.values.yaml

# Kubeconfig locaux
*.kubeconfig
kubeconfig-*
